.dashboard-container {
    width: 100%;
    border: 2px solid green;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 70px;
    padding:10px;

}

.title {
    width: 40%;
    text-align: center;
}

.time-task-row {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid yellow;
}

.time-picker {
    width: 40%;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
}

.addTask-button {
    width: 150px;
    height: 60px;
}

.my-tasks {
    width: 100%;
    margin-top: 80px;
    border: 2px solid grey;
    text-align: center;
    height: 70px;
    padding:10px;
}

