.footer{
    width:100%;
    background-color:black;
    color:whitesmoke;
   margin-top: 25px;
    font-size: 14px;
    height:120px;
}
.footer-inside{
    margin-left: 40%;
   margin-top: 1%;
}

